<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Panel d'admin de l'extension Solary</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
		  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<style>
		body {
			padding-top: 5rem;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark fixed-top justify-content-between">
		<span class="navbar-brand mb-0 h1">Panel d'admin de l'extension Solary</span>
		<div>
			<span class="navbar-text">Connecté en tant que <%= user %></span>
			<a href="/logout" class="btn btn-danger">Se déconnecter</a>
		</div>
	</nav>
	<main class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 offset-sm-2">
					<h2>Envoyer une notification</h2>
					<form method="post" action="/send_notification">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<div class="form-group">
							<label for="input-notification-title">Titre de la notification</label>
							<input id="input-notification-title" name="notification[title]" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="input-notification-message">Contenu de la notification</label>
							<textarea id="input-notification-message" name="notification[message]" class="form-control" required></textarea>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">Envoyer</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</body>
</html>